$textColor: rgb(49, 33, 33);
$greyBgColor: rgb(94, 93, 93);
$textFontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$transition: all .3s ease;





 